.title {
    text-align: center;
    font-size: xx-large;
    background-color: cornflowerblue;
    color: brown;
}

body {
    background-color: darkgrey;
}

.video {
    width: 22%;
    float: left;
}

.specification {
    padding-left: 27%;
    font-size: large;
}