@media screen and (min-width:0px) and (max-width:575px) {
    #welcome {
        font-size: 18px;
        font-weight: 500;
    }

    .keys>a {
        display: none;
    }

    #burger {
        display: inline;
        color: black;
        font-size: x-large;
        padding-left: 70%;
    }

    #carousel-img {
        width: 55%;
        padding-top: 4%;
        float: right;
    }

    .carousel {
        margin-top: -12%;
    }

    #carousel-desc {
        font-size: 9px;
    }

    .price {
        font-size: 16pt;
    }

    .chat-bot-bar {
        height: 80px;
    }

    .chat-bot {
        font-size: 18px;
    }

    #contact-chat {
        font-size: 11.5px;
    }

    #bot {
        font-size: 15px;
        margin-right: 7%;
        margin-top: 2%;
    }

    .sub-titles {
        font-size: 16px;
    }

    #message {
        margin-top: 3%;
        height: 250px;
        width: 100%;
        font-size: 13px;
    }

    .input-data {
        font-size: 13px;
    }

    #submit-btn {
        width: 150px;
        height: 40px;
        margin-left: 30%;
        font-weight: 500;
        font-size: 16px;
        margin-top: 3%;
    }

    .social {
        font-size: 18px;
    }

    .contact-td {
        font-size: 12px;
    }

    .copyright>h5 {
        font-size: 10px;
    }

    .copyright>h4 {
        font-size: 12px;
    }

    /*-------------------------------------mobile-pages----------------------------------------*/

    .title {
        margin-top: 4.8%;
        font-size: 20px;
    }

    .specification {
        font-size: 12px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    #welcome {
        font-size: 22px;
        font-weight: 500;
    }

    .keys>a {
        display: none;
    }

    #burger {
        display: inline;
        color: black;
        font-size: x-large;
        padding-left: 70%;
    }

    #carousel-img {
        width: 55%;
        float: right;
    }

    .carousel {
        margin-top: -7%;
    }

    #carousel-desc {
        font-size: 12px;
    }

    .price {
        font-size: 23pt;
    }

    .chat-bot-bar {
        height: 100px;
    }

    .chat-bot {
        font-size: 23px;
    }

    #contact-chat {
        font-size: 14px;
    }

    #bot {
        font-size: 18px;
        margin-right: 7%;
        margin-top: 2%;
    }

    .sub-titles {
        font-size: 18px;
    }

    #message {
        margin-top: 3%;
        height: 250px;
        width: 100%;
        font-size: 15px;
    }

    .input-data {
        font-size: 15px;
    }

    #submit-btn {
        width: 150px;
        height: 40px;
        margin-left: 35%;
        font-weight: 500;
        font-size: 18px;
        margin-top: 3%;
    }

    .social {
        font-size: 25px;
    }

    .contact-td {
        font-size: 14px;
    }

    .copyright>h5 {
        font-size: 12px;
    }

    .copyright>h4 {
        font-size: 14px;
    }

    /*-------------------------------------mobile-pages----------------------------------------*/

    .title {
        font-size: 30px;
    }

    .specification {
        font-size: 18px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #welcome {
        font-size: 30px;
        font-weight: 500;
    }

    .nav-btn {
        font-size: 16px;
    }

    #burger {
        display: none;
    }

    #carousel-img {
        width: 50%;
        float: right;
    }

    .carousel {
        margin-top: -5%;
    }

    #carousel-desc {
        font-size: 15px;
    }

    .price {
        font-size: 30pt;
    }

    .chat-bot-bar {
        height: 120px;
    }

    .chat-bot {
        font-size: 26px;
    }

    #contact-chat {
        font-size: 18px;
    }

    #bot {
        font-size: 20px;
        margin-right: 7%;
        margin-top: 2%;
    }

    .sub-titles {
        font-size: 20px;
    }

    #message {
        margin-top: 3%;
        height: 250px;
        width: 100%;
        font-size: 17px;
    }

    .input-data {
        font-size: 17px;
    }

    #submit-btn {
        width: 150px;
        height: 40px;
        margin-left: 38%;
        font-weight: 500;
        font-size: 20px;
        margin-top: 3%;
    }

    .social {
        font-size: 40px;
    }

    .contact-td {
        font-size: 18px;
    }

    .copyright>h5 {
        font-size: 14px;
    }

    .copyright>h4 {
        font-size: 16px;
    }

    /*-------------------------------------mobile-pages----------------------------------------*/

    .title {
        font-size: 40px;
    }

    .specification {
        font-size: 20px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    #welcome {
        font-size: 38px;
        font-weight: 450;
    }

    .nav-btn {
        font-size: 18px;
    }

    #burger {
        display: none;
    }

    #carousel-img {
        width: 55%;
        float: right;
    }

    .price {
        font-size: 35pt;
    }

    .chat-bot-bar {
        height: 180px;
    }

    .chat-bot {
        font-size: 40px;
    }

    #contact-chat {
        font-size: 25px;
    }

    #bot {
        font-size: 25px;
        margin-right: 7%;
        margin-top: 2%;
    }

    .sub-titles {
        font-size: 25px;
    }

    #message {
        margin-top: 3%;
        height: 250px;
        width: 100%;
    }

    #submit-btn {
        width: 150px;
        height: 40px;
        margin-left: 43%;
        font-weight: 500;
        font-size: 20px;
        margin-top: 3%;
    }

    .social {
        font-size: 60px;
    }

    .contact-td {
        font-size: 23px;
    }

    .copyright>h5 {
        font-size: 16px;
    }

    .copyright>h4 {
        font-size: 18px;
    }

    /*-------------------------------------mobile-pages----------------------------------------*/

    .title {
                margin-top: 3.5%;
        font-size: 45px;
    }

    .specification {
        font-size: 22px;
    }
}

@media screen and (min-width:1200px) {
    #welcome {
        font-size: 47px;
        font-weight: 420;
    }

    .nav-btn {
        font-size: 25px;
    }

    #burger {
        display: none;
    }

    #carousel-img {
        margin-top: -2%;
        width: 35rem;
        float: right;
    }

    .price {
        font-size: 40pt;
    }

    .chat-bot-bar {
        height: 180px;
    }

    .chat-bot {
        font-size: 40px;
    }

    #contact-chat {
        font-size: 25px;
    }

    #bot {
        font-size: 25px;
        margin-right: 7%;
        margin-top: 2%;
    }

    .sub-titles {
        font-size: 30px;
    }

    #message {
        margin-top: 3%;
        height: 250px;
        width: 100%;
    }

    #submit-btn {
        width: 150px;
        height: 40px;
        margin-left: 43%;
        font-weight: 500;
        font-size: 20px;
        margin-top: 3%;
    }

    .social {
        font-size: 70px;
    }

    .contact-td {
        font-size: 28px;
    }

    .copyright>h5 {
        font-size: 18px;
    }

    .copyright>h4 {
        font-size: 20px;
    }

    /*-------------------------------------mobile-pages----------------------------------------*/

    .title {
        margin-top: 3.5%;
        font-size: 50px;
    }

    .specification {
        font-size: 25px;
    }
}