body{
    background-color:whitesmoke;
}

button{
    border-radius:8px; 
    border-color: #27ae60; 
    font-size: larger; 
    color: #6F17EB;
}

.phone-list{
    padding-left: 7%;
    font-size: large;
}

.new-product{
    color:#6F17EB;
    text-align: center;
    font-weight: bold;
}