body {
    background-color: #F8F1E8;
    margin: 0;
}

#welcome {
    font-size: 50px;
    font-weight: bolder;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: yellowgreen;
    padding-left: 3%;
    color: blue;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.nav-btn {
    padding-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.nav-btn:hover {
    text-decoration: underline;
    color: blue;
}

button {
    border-radius: 8px;
    border-color: #27ae60;
    font-size: larger;
    color: #6F17EB;
}

.shop-btn {
    text-decoration: none;
    border-radius: 15px;
}

.shop-btn:hover {
    background-color: yellowgreen;
}

.empty {
    background-color: black;
    color: black;
}

.carousel {
    background-color: black;
}

.carousel>h2 {
    color: white;
}

.discount {
    width: 40%;
    float: right;
}

.price {
    font-size: 40pt;
    color: yellowgreen;
}

.phone-list {
    padding-left: 7%;
    font-size: large;
}

.sub-title {
    color: cornflowerblue;
    text-align: center;
    font-weight: bold;
    font-size: 40pt;
}

.logo {
    padding-left: 30%;
    width: 45%;
    border-radius: 30pc;
}

.paragraph {
    padding-left: 7%;
    padding-right: 6%;
    font-size: large;
}

.paragraph::before {
    content: "Welcome";
    color: #6F17EB;
}

.paragraph::first-letter {
    font-size: 50px;
    color: #6F17EB;
}

.open {
    padding-left: 29%;
}

.table {
    width: 80%;
    padding-left: 16%;
    font-size: larger;
    text-align: center;
    background-color: whitesmoke;
}

th,
td {
    border: 3px solid black;
    width: 1%;
}

.open {
    padding-left: 35%;
    width: 30%;
    display: inline;
}

.contact-img {
    width: 8%;
    padding-left: 60%;
}

.contact-td {
    border: 1px solid black;
    font-size: larger;
    text-align: left;
}

.copyright {
    text-align: center;
}

.shop {
    width: 80%;
    padding-left: 10%;
}

.buy {
    padding-left: 35%;
}

.social {
    font-size: 50px;
    text-align: center;
    color: blueviolet;
}

.input {
    width: 40%;
    text-align: center;
}

.intable {
    padding-left: 24%;
}