body {
    background-color: #F8F1E8;
    margin: 0;
}

#welcome {
    font-size: 50px;
    font-weight: bolder;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: yellowgreen;
    padding-left: 3%;
    color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.nav-btn {
    padding-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.nav-btn:hover {
    text-decoration: underline;
    color: blue;
}

button {
    border-radius: 8px;
    border-color: #27ae60;
    font-size: larger;
    color: #6F17EB;
}

.shop-btn {
    text-decoration: none;
    border-radius: 15px;
}

.shop-btn:hover {
    background-color: yellowgreen;
}

.empty {
    background-color: black;
    color: black;
}

.carousel {
    background-color: black;
}

.carousel>h2 {
    color: white;
}

.discount {
    width: 40%;
    float: right;
}

.price {
    font-size: 40pt;
    color: yellowgreen;
}

.chat-bot-bar {
    background-color: yellowgreen;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.chat-bot {
    background-color: yellowgreen;
    color: white;
    font-size: 30px;
    font-weight: 100;
    padding-left: 10%;
}

#contact-chat {
    font-size: 20px;
    margin-left: 2%;
}

#bot {
    color: white;
    background-color: yellowgreen;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 8%;
    margin-left: 50%;
    font-weight: 500;
    font-size: 25px;
}

#bot:hover {
    color: yellowgreen;
    background-color: white;
}

.phone-list {
    padding-left: 7%;
    font-size: large;
}

.sub-title {
    display: flex;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.first-sub-title {
    margin: 0;
    font-size: 50px;
    color: black;
    font-weight: 800;
    text-align: center;
}

.second-sub-title {
    margin-left: 10px;
    color: yellowgreen;
}

.item-container{
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.item {
    width: 300px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 575px;
}

.item-image {
    width: 100%;
    height: auto;
}

.item-content {
    background-color: #dbd8d8;
    padding: 20px;
}

.item-title {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.item-text {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    font-size: 25px;
    margin-left: 80px;
}

.item-btn {
    display: inline-block;
    margin-top: 10px;
    margin-left: 60px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.logo {
    padding-left: 30%;
    width: 45%;
    border-radius: 30pc;
}

.paragraph {
    padding-left: 7%;
    padding-right: 6%;
    font-size: large;
}

.paragraph::before {
    content: "Welcome";
    color: #6F17EB;
}

.paragraph::first-letter {
    font-size: 50px;
    color: #6F17EB;
}

.open {
    padding-left: 29%;
}

.table {
    width: 80%;
    padding-left: 16%;
    font-size: larger;
    text-align: center;
    background-color: whitesmoke;
}

th,
td {
    border: 3px solid black;
    width: 1%;
}

.open {
    padding-left: 35%;
    width: 30%;
    display: inline;
}

.contact-img {
    width: 8%;
    padding-left: 60%;
}

.contact-td {
    border: 1px solid black;
    font-size: larger;
    text-align: left;
}

.copyright {
    text-align: center;
}

.buy {
    padding-left: 35%;
}

.social {
    font-size: 50px;
    text-align: center;
    color: blueviolet;
}

.input {
    width: 40%;
    text-align: center;
}

.intable {
    padding-left: 24%;
}

.shop {
    width: 400px;
}